
<div style="text-align:center">
<div class="container">
  <div class="row">
    <div class="col"><span>Desenvolvido com </span></div>
  </div>
  <div class="row">
    <div class="col"><span style="font-size:15px;color:red;">&hearts;</span></div>
  </div>
    <div class="row">
      <div class="col"><span style="font-size:15px;"></span></div>
    </div>
      <div class="row">
      <div class="col"><span style="font-size:15px;">Por</span></div>
    </div>
  <div class="row">
    <div class="col"><a href="https://github.com/brutalzinn" target="_blank">Roberto Paes</a></div>
  </div>
    <div class="row">
      <div class="col">
        <a href="https://github.com/brutalzinn/gerador-cpfcnpj-angular" target="_blank">Acessar
          repositório</a>
      </div>
    </div>
</div>
</div>
