<form [formGroup]="mainForm">
    <div class="input-group mb-3">
        <label class="form-label" for="cpf">
            Quantidade:
        </label>
        <input class="form-control" placeholder="Quantidade de CPF/CNPJ para gerar" name="quantidade" id="quantidade"
            type="text" formControlName="quantidade">
        <button type="button" (click)="criarPessoas()" class="btn btn-primary">Criar CPFCNPJ</button>
    </div>


    <div *ngIf="controls['quantidade'].touched && controls['quantidade'].invalid" class="alert alert-danger">
        <div *ngIf="controls['quantidade'].errors && controls['quantidade'].errors['required']">Quantidade deve ser
            informada
        </div>
        <div *ngIf="controls['quantidade'].errors && controls['quantidade'].errors['min']">Quantidade deve ser
            maior que 0</div>
        <div *ngIf="controls['quantidade'].errors && controls['quantidade'].errors['max']">Quantidade deve ser
            menor que 10</div>
        <div *ngIf="controls['quantidade'].errors && controls['quantidade'].errors['pattern']">Quantidade deve ser
            um número</div>
    </div>
    <div class="input-group mb-3">
        <div class="form-check form-check-inline">
            <input name="tipo" class="form-check-input" type="radio" value="cpf" id="cpf" formControlName="tipo">
            <label class="form-check-label" for="cpf">
                CPF
            </label>

        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="cnpj" name="tipo" id="cnpj" formControlName="tipo">
            <label class="form-check-label" for="cnpj">
                CNPJ
            </label>
        </div>
    </div>

    <div *ngIf="this.mostrarOpcaoPessoaJuridica()" class="input-group mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" value="receitaWS" id="receitaWS" formControlName="receitaWS">
            <label class="form-check-label" for="receitaWS">Integração ReceitaWS</label>
        </div>

        <select *ngIf="this.mostrarOpcaoReceitaWS()" id="custom-select" formControlName="filtroSocio">
            <label class="form-check-label" for="custom-select">Integração ReceitaWS</label>
            <option [ngValue]="filtroSocio" *ngFor="let filtroSocio of this.obterFiltroSocio()">{{
              filtroSocio
            }}</option>
        </select>

    </div>

    <div class="input-group mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" value="mascara" id="mascara" formControlName="mascara">
            <label class="form-check-label" for="mascara">Máscara</label>
        </div>
    </div>

    <div class="input-group">
      <input type="file" (change)="carregarArquivoDocumentos($event)" class="form-control"
            class="btn btn-primary" />
        <button type="button" (click)="baixarArquivoDocumento()" class="btn btn-primary">Baixar lista</button>
    </div>
    <button type="button" (click)="clear()" class="btn btn-danger me-1">Limpar lista</button>
</form>


