<form [formGroup]="mainForm">
    <label for="documento">Documento:</label>
    <input name="documento" id="documento" size="20" type="text" formControlName="documento" /><br />

    Tipo:
    <input name="tipo" value="cpf" id="cpf" type="radio" formControlName="tipo" />
    <label for="cpf">CPF</label>

    <input name="tipo" value="cnpj" id="cnpj" type="radio" formControlName="tipo" />
    <label for="cnpj">CNPJ</label>

    <input name="mascara" value="mascara" id="mascara" type="checkbox" formControlName="mascara">
    <label for="mascara">Máscara</label><br /><br />

    <button type="button" (click)="handleClick()">Criar CPFCNPJ</button>
    <button type="button" (click)="baixarArquivoDocumento()">Baixar lista</button>
    <input id="preview" type="file" (change)="carregarArquivoDocumentos($event)" />

</form>