<div class="meu-sticky" *ngIf="this.showTips">
<div class="card">
  <div class="card-body">
    <div class="card-title"> Opaaaaa. Parece que voce gostou muito dessa ferramenta.</div>
<h6 class="card-subtitle mb-2 text-muted">Que tal pagar uma coquinha gelada para o Dev com Pix?</h6>
    <div class="card-text">
          <qr-code [value]="this.chavePix" [size]="200"></qr-code>
    </div>
    <a href="https://github.com/brutalzinn/gerador-cpfcnpj-angular" target=”_blank” class="card-link">
      <span style="font-size:15px;color:red;">&hearts;</span>
      Acessar repositório
    </a>
    <a (click)="this.hide()" class="card-link">
     Fechar
    </a>
  </div>
</div>
</div>